table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}

li {
	margin: 10px 0 10px 0;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Courier New', Courier, monospace;
	padding: 0 15px 0 15px;
}